#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;


  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#happy-customer{
    .container{
      .customers{
        .input{
          text-align: center;
          margin: 20px 0;
          input{
            padding: 20px 20px;
            width: 35%;
            border-radius: 5px;
            border: none;
            border-bottom: 1px solid #fee2b3;
          }
        }
        .customer-about{
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          .customer{
              display: flex;
              .text-h5{
                  color: #364d59;
                  margin: 20px 0;
                  font-family: 'Playfair Display', serif;
                  font-size: 20px;
                  span{
                      color: #CCCCCC;
                      font-size: 20px;
                      font-family: 'Playfair Display', serif;
                  }
              }
              img{
                  width: 70px;
                  height: 70px;
                  border-radius: 50%;
                  margin: 20px 20px;
              }
          }
          .text_p_customer{
              font-size: 18px;
              line-height: 1.7;
              font-family: 'Playfair Display', serif;
              margin: 20px 0;
          }
      }
      }
    }
}