#legal{
    .container{
        .legalSections{
            display: flex;
            justify-content: space-around;
            .image{
                img{
                    width: 350px;
                    height: 500px;
                }
            }
            .text-one{
                width: 30%;
                .text-h1{
                    font-size: 32px;
                    font-family: 'Playfair Display', serif;
                    color: #364d59;
                    padding: 10px 0;
                    span{
                        color: #1a2429;
                    }
                }
                .text-p{
                    color: #364d59;
                    font-size: 16px;
                    line-height: 25px;
                    padding: 10px 0;
                    width: 400px;
                }
                ul{
                    padding: 10px 0;
                    li{
                        list-style-type: none;
                        color: #364d59;
                        font-size: 16px;
                        padding: 10px 0;
                    }
                }
            }
            .text-two{
                width: 30%;
                p{
                    width: 300px;
                }
            }
        }
    }
}